

.btn-block {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-block button {
    background-color: #8a8a8a;
    width: 140px;
    padding: 10px 20px;

    color: white;

    border: none;
    border-radius: 4px;

    transition: background-color .2s;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #403f3f;
}