


.menu {
    /*position: absolute;*/
    top: 0;

    width: 100%;
    height: 50px;
    background-color: #ec4343;

    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 10px;

    list-style-type: none;

}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;

    font-family: "Roboto Thin", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}