

.form-wrapper {
    width: 700px;
    min-height: 250px;
    border-radius: 3px;
    background-color: #f6a428;

    margin: 0 auto;

    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
    color: #982828;
}

.input-wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;

}

.input-field {
    width: 380px;
    height: 40px;

    border: none;
    border-radius: 3px;
    outline: none;

    padding: 3px 10px;
}

.error-message {
    min-height: 14px;

    font-size: 12px;
    color: #982828;
    width: 380px;
}

.btn-create {
    width: 175px;
    height: 40px;
    background-color: #379702;
    color: #1d5500;
    border-radius: 3px;

    border: none;
    outline: none;

    margin: 10px auto;

    transition: .3s;

    cursor: pointer;
}

.btn-create:disabled {
    background-color: #ff4242;
    color: #781414;

}

.btn-create:hover {
    box-shadow: 2px 2px 3px rgba(99, 99, 99, 0.3);
}